<h1>Sistema bibliotecario per esame di SSW2023</h1>
<h2>{{ angProj }}</h2>

<h3>
  In questo sito si potrà gestire uno o più database bibliotecari per
  inserimento, rimozione o prestito di libri
</h3>
<cite>Rappresentazione grafica minimale</cite><br /><br />
<hr />
<hr />

<!--<app-select [selezione]="selezione" (selEvent)="selBook($event)"></app-select>
<app-remove></app-remove>
<app-lending></app-lending>
<app-insert></app-insert>-->

<footer style="position: fixed; bottom: 0">
  Progetto realizzato da Luigi Noto, Matricola 567026, studente di Informatica
  Umanistica, per l'esame di SSW a.a.2023
</footer>
