<h4>Dopo aver verificato la disponibilità puoi effettuare un prestito:</h4>
<cite>Campi obbligatori</cite><br>

<input type="text" id="titAddPr" placeholder="Titolo libro"><br>
<input type="text" id="addPr" placeholder="Dare in prestito a"><br>
<button (click)="addPrestito()">Invio</button>
<h4>Oppure puoi effettuare una restituzione:</h4>
<cite>Campi obbligatori</cite><br>
<input type="text" id="titRemPr" placeholder="Titolo libro da rimuovere prestito"><br>
<button (click)="remPrestito()">Rimuovi prestito</button>
<hr><hr>