<h4>Tramite questa sezione puoi effettuare l'aggiunta di un libro nel database.</h4>
<cite>Compila i seguenti campi. Sono tutti obbligatori!</cite><br>
<input type="text" name="titolo" id="titolo" placeholder="Titolo">*<br>
<input type="text" name="autore" id="autore" placeholder="Autore">*<br>
<input type="text" name="posizione" id="posizione" placeholder="Posizione scaffale">*<br>
<button (click)="add()">Aggiungi</button>
<div>Esito: <span id="esitoAdd" *ngIf="msgEsito !== undefined">{{msgEsito}}</span></div>
<hr><hr>