<h4>
    Verifica disponibilità del libro nel nostro database cercando per autore o
    titolo:
    <input type="text" name="sel" id="sel" placeholder="Cerca libro o autore" (keyup.enter)="selBook()" #inputSel/><button (click)="selBook()">Cerca</button>
  </h4>
  
 
  <div *ngIf="inputSel.value !== '' && (selezione === undefined || selezione.length === 0)">
    Il libro non è presente nel sistema
  </div>
  <div *ngIf="selezione != []" id="selected">
    <select>
      <option *ngFor="let find of selezione">
        <div *ngIf="find.prestito === undefined">
          {{ find.titolo }} di {{ find.autore }} è disponibile in posizione
          "{{ find.posizione }}"
        </div>
        <div *ngIf="find.prestito !== undefined">
          {{ find.titolo }} di {{ find.autore }}, della posizione "{{ find.posizione }}", non è disponibile (in prestito a {{ find.prestito }})!
        </div>
      </option>
    </select>
  </div>

  <hr><hr>
  